* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

button {
  background: initial;
  cursor: pointer;
  border: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
