.bg {
  background: url(./media/background.jpg);
  background-size: cover;
  background-position: center;
}
header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px grey solid;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  margin: 0 2rem;
}
nav li:hover {
  text-decoration: underline red 3px;
  text-underline-offset: 5px;
}
.hamburger {
  stroke: white;
}
.hamburger-button {
  display: none;
}
.hero-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}
.hero-top h1 {
  font-size: 3rem;
  text-align: center;
}
.hero-top p {
  margin: 1rem 0;
  text-align: center;
}
.hero-top a {
  background-color: red;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  margin-top: 1rem;
}
.hero-bottom {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgba(45, 52, 75, 0.74);
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  text-align: left;
}
.card p {
  margin: 0.25rem 0;
  font-size: 0.75rem;
}
.card-img svg {
  height: 25px;
  width: 25px;
}
.card a {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-decoration: underline red 3px;
  text-underline-offset: 5px;
}
.bg2 {
  background-color: #0f1014;
}
.programs-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.programs-title h2 {
  font-size: 2rem;
}
.programs-title p {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 750px;
}
.gallery {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.col {
  height: 700px;
  width: 33%;
  margin-right: 1rem;
}
.one {
  background-image: url(./media/zurich.jpg);
  margin-bottom: 1rem;
}
.two {
  background-image: url(./media/alps.jpg);
}
.three {
  background-image: url(./media/mountain\ houses.jpg);
  margin-bottom: 1rem;
}
.four {
  background-image: url(./media/bern.jpg);
}
.five {
  background-image: url(./media/rafting\ in\ interleken.jpg);
  margin-bottom: 1rem;
}
.six {
  background-image: url(./media/swiss\ ski.jpg);
}
.big {
  height: 400px;
}
.small {
  height: 250px;
}
.tab {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
}
.price-duration img {
  height: 10px;
  width: 10px;
}
.price {
  margin-right: 0.75rem;
}
.guide {
  display: flex;
  align-items: center;
}
.guide img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 3px solid rgba(128, 128, 128, 0.493);
  object-fit: cover;
}
.guide-txt p {
  font-size: 0.5rem;
}
.gallery-button a {
  background-color: red;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
}
@media (1000px>width>768px) {
  header {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .tab {
    height: 250px;
    width: 250px;
  }
  .big,
  .small {
    flex-grow: 1;
  }
  .gallery {
    flex-direction: column;
    width: 100%;
  }
  .gallery-container {
    height: auto;
    padding-bottom: 1rem;
  }
  .col {
    display: flex;
    height: auto;
    width: 100%;
    gap: 0.5rem;
  }
}
@media (width<768px) {
  nav ul {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
  .hero-bottom {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
  }
  .gallery {
    flex-direction: column;

    align-items: center;
  }
  .col {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
  }
  .big {
    height: 250px;
  }

  .gallery-container {
    height: auto;
    padding-bottom: 1rem;
  }
}
